body {
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  font-family: 'Montserrat', sans-serif; font-size: 18px;
   background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED, #83E4ED, #83E4ED, #6BB1D6, #7CACF7);
   height: 800px;

}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: blue;
}

.text{
  text-align: center;
}

#logout {
  display: flex;
  text-align: center;
}
.align {
  text-align: center;
}

.alignbutton {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}


h1{
  text-align: center;
  color: white;

  /* background: black; */

  font-size: 50px
}

select {
  font-family: 'Montserrat', sans-serif; font-size: 20px;
  /* font-family: 'Raleway', sans-serif; font-size: 20px; */
}

input {
  font-family: 'Montserrat', sans-serif; font-size: 20px;
  /* font-family: 'Raleway', sans-serif; font-size: 20px; */
}

textarea {
  font-family: 'Montserrat', sans-serif; font-size: 20px;
  /* font-family: 'Raleway', sans-serif; font-size: 20px; */
}

.tlposts {
  border-width: 20px;
  border-color: #0F3896;
  border-style: solid;
}

.postbox {
  border-width: 5px;
  border-color: #0F3896;
  border-style: solid;
  height: 150px;
}


/* #indexbg {
  height: 200px;
  background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED);
} */

.posts{
  list-style: none
}




button {
  font-family: 'Montserrat', sans-serif; font-size: 20px;
  background-color: #E01691;
  /* background-color: #B6E022; */
  color: white;
  padding: 6px 20px;
  text-align: center;
  display: inline-block;

  transition-duration: 0.5s;
  cursor: pointer;
  /* montse */
  /* border: 1.5px solid #242424; */
  border-radius: 25px;

}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

 .button1:hover {
  background-color: #4CAF50;
  color: white;
}
