body {
  text-align: center;
  vertical-align: middle;
  padding: 50px;
  font-family: 'Montserrat', sans-serif; font-size: 18px;
   background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED, #83E4ED, #83E4ED, #6BB1D6, #7CACF7);
   height: 800px;

}

.text{
  text-align: center;
}

#logout {
  display: flex;
  text-align: center;
}
.align {
  text-align: center;
}

.alignbutton {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

li {
  list-style: none;
}

h1{
  text-align: center;
  color: white;

  /* background: black; */

  font-size: 50px
}

.tlposts {
  border-width: 20px;
  border-color: #0F3896;
  border-style: solid;


/* #indexbg {
  height: 200px;
  background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED);
} */

.posts{
  list-style: none
}



.button-group {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

button {
  font-family: 'Montserrat', sans-serif; font-size: 20px;
  background-color: #4747DE;
  color: white;
  padding: 6px 20px;
  text-align: center;
  display: inline-block;

  transition-duration: 0.5s;
  cursor: pointer;
  /* border: 1.5px solid #FFFFF; */
  /* border: 2px solid #242424; */
  border-radius: 25px;

}

/* .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
} */

/* .button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
} */

/* .button1:hover {
  background-color: #4CAF50;
  color: white;
} */
