body {
  text-align: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;



   background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED, #6BB1D6, #7CACF7);
   height: 750px;
}


/* #logout {
  width: 80px;
  height: 20px;
  display: flex;
  text-align: center;
} */

li {
  list-style: none;
}

.tlposts {
  border-width: 20px;
  border-color: aqua;
  border-style: solid;

/* #indexbg {
  height: 200px;
  background-image: linear-gradient(to bottom right, #7CACF7, #6BB1D6, #83E4ED);
} */

.posts{
  list-style: none
}



.button-group {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}
