<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
</head>

    <p>Welcome to</p>
    <h1 class="title">{{title}}</h1>


    <h1>❄️🥶❄️📖🥶📖❄️🥶❄️</h1>

    <form class="sign-up-link" action="/signup">
      <button type="submit" name="" value="Sign Up">Sign Up</button>
    </form>


    <form class="log-in-link" action="/login">
      <button type="submit" name="" value="Log In">Log In</button>
    </form>
