<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <!-- <iframe width="0px" height="0px" src="https://www.youtube.com/embed/BJqT5fA75vQ?autoplay=1&enablejsapi=1" allow="autoplay"></iframe> -->
</head>

    <h1 class="title">❄️🥶 WELCOME TO 🥶❄️</h1>
    <!-- <h1 class="title">{{title}}</h1> -->

    <img src="../Logo/LOGO.png" alt="Icebook logo">


    <h1>❄️🥶❄️📖🥶📖❄️🥶❄️</h1>



  <div class="alignbutton">
    <form class="sign-up-link" action="/signup">
      <button type="submit" name="" value="Sign Up">Sign Up</button>
    </form>
  </div>

  <div class="alignbutton">
    <form class="log-in-link" action="/login">
      <button class="button button1" class="alignbutton" type="submit" name="" value="Log In">Log In</button>
    </form>
  </div>

<button class="button button1">Green</button>
