<head>
  <link rel='stylesheet' href='/stylesheets/profile.css' />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet">
  <iframe width="1px" height="1px" src="https://www.youtube.com/embed/BJqT5fA75vQ?autoplay=1&enablejsapi=1" allow="autoplay"></iframe>
</head>

    <p>Welcome to</p>
    <h1 class="title">{{title}}</h1>


    <h1>❄️🥶❄️📖🥶📖❄️🥶❄️</h1>

  <div class="alignbutton">
    <form class="sign-up-link" action="/signup">
      <button type="submit" name="" value="Sign Up">Sign Up</button>
    </form>
  </div>

  <div class="alignbutton">
    <form class="log-in-link" action="/login">
      <button type="submit" name="" value="Log In">Log In</button>
    </form>
  </div>
